<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>socket-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF727D741F792D9C0091E450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF727D8C1F792D9C0091E450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF727D971F792D9C0091E450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
